.container {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  flex-direction: row;
  background-color: #fbe2d1;
}
.subcontainer {
  width: 100%;
}
.cbsebook_title {
  font-size: 40px;
  color: #ff8000;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
}
.bookscontainer {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.nobook {
  font-size: 20px;
  font-weight: bold;
  color: #ff8000;
  margin-left: 15px;
}

/* Portrait */
@media only screen and (min-device-width: 350px) and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .bookscontainer {
    align-items: center;
    justify-content: center;
  }
}

/* {data[Classid - 6] === null
              ? <span>No data</span>
              : data[Classid - 6]?.map((item) => {
                  return (
                    <BookTemplate
                      key={"0"}
                      image={item.image}
                      title={item.title}
                      desc={item.desc}
                    />
                  );
                })} */
